body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.customInput{
  width: 50%
}

.card-default {
  padding: 15px;
  background: #f6f6f6;
}
.dasboard-body {
  background: #fff; border: 1px solid #e6e6e6; padding:15px;
}
.dasboard-body h1{ font-size: 20px;}
.dasboard-body .form-control {
  border-radius: 2px;
  height: 30px;  font-size: 14px;
}

.react-datepicker-wrapper {
  width: 50%;
}

.react-datepicker-wrapper input[type="text"] {
  border: 1px solid #ced4da;
  width: 94px;
  font-size: 12px;
  margin: 0px 5px 5px 2px;
  padding: 2px 5px;
  border-radius: 2px;
}.react-datepicker-wrapper:last-child input[type="text"]{ margin-left:5px;margin-right: 2px; }

button.btn-small {
  padding: 5px 12px;
  height: 27px;
  font-size: 14px;
  margin: 0 2px;
  width: 50%;
  line-height: 1;
}

.dasboard-body table.table td, .dasboard-body table.table thead th {
  font-size: 13px;
  padding: 8px;
}

.dasboard-body table.table thead th {    vertical-align: middle;}

.disbaled-style:disabled {
  color: #fff;
  background-color: #69a8ec !important;
  border-color: #69a8ec !important;
}